* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(94, 113, 117);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 100%;
    background: #f1f1f1;
    padding: 20px;
}

nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 200px;
 background-color: #f1f1f1;
}
nav li a {
 display: block;
 color: #000;
 padding: 8px 16px;
  text-decoration: none;
}
  
nav li a.active {
 background-color: #04AA6D;
 color: white;
}
 
nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: black;
}

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}
